extends base.pug

block content
    h4 Change Title of video
    form(method="post")
        input(type="text",name="hello", placeholder="movie title", value=video.title, required)
        input(value="save",type="submit")