extends base
include mixins/video

block content
    form(method="get")
        input(placeholder="Search by Little", name="keyword", type="text")
        input(type="submit", value="Search now")

    div
        each test in videos
            +video(test)