extends base.pug

block content 
    h3 충전을 선택 해주시길 바랍니다
    form
        h3 스포츠 머니 -> 카지노 머니
        h4 스포츠 보유 머니 : 000,000,000원
        input(type="text" placeholder="카지노로 머니 이동 금액 적어주세요")
        
        input(type="button" value="머니이동 고객센터 문의" )

        br
        
        h3 카지노 머니 -> 스포츠 머니
        h4 카지노 보유 머니 : 000,000,000원
        input(type="text" placeholder="스포츠 이동 금액 적어주세요")
        
        input(type="button" value="머니 이동" )
